.special{
    font-size: itablic;
    font-weight: bold;
    color: rgb(1, 1, 100);
}
ol {
    color: rgb(22, 82, 151);
}
ul{
    color: rgb(22, 82, 151);
}
table{
    border: 1px solid;
}
img{
    border-radius: 30%;
    border: 2px solid;
}