body {
    background-color: #f1f6f8; 
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(8, 74, 115);
    background-color: rgb(190, 218, 247);
}
div {
    position: sticky;
}
.dimg {
    width: 175px;
    height: 180px;
    position: absolute;
    top: 0;
    right: 0;
}
img {
    max-width: 100%;
    height: auto;   
}
table, th, td {
    border: 1px solid rgb(21, 25, 84);
}
.bluebold {
    font-weight: bold;
    color: rgb(5, 49, 181);
}
.grey {
    background-color: rgb(228, 227, 227);
}